http_handler: echo

cache: redis  # redis, memory, disable

handler:
  authentication: v1
  product: v1
  user: v1

service:
  authentication: v1
  product: v1
  user: v1

repository:
  authentication: postgres
  product: postgres
  user: postgres

worker:
  enabled: false
  backend: disable  # asynq, rabbitmq, redpanda, disable
  tasks:
    email_notifications: false
    data_export: false
    report_generation: false
    image_processing: false

email:
  enabled: false
  provider: noop  # smtp, mailgun, noop
